<div class="flex justify-center items-center bg-color-blue-main">

<!--  Sorting-->
  <div class="wrapper ml-5">
    <div class="btn">
      <label class="relative" (click)="onTurnSorting(true)">
        <input class="absolute hidden" type="radio" name="arrow">
        <img class="btn img" src="assets/icon-arrow-down.svg" alt="Sort from A to Z" [ngClass]="{active: isSorted}"/>
      </label>
      <label class="relative"  (click)="onTurnSorting(false)">
        <input class="absolute hidden" type="radio" name="arrow">
        <img class="btn img active" src="assets/icon-arrow-up.svg" alt="Sort from Z to A" [ngClass]="{active: !isSorted}"/>
      </label>
    </div>
  </div>


<!--  Search-->
  <div class="wrapper">
    <div class="w-[254px] h-[39px]">
      <input class="search" type="text" placeholder="Search" [(ngModel)]="cityName" (keyup.enter)="onSearchCity()">
    </div>
  </div>

<!--  Filter-->
  <div class="wrapper">
    <div class="btn">
      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img checkbox" src="assets/icon-rainy.svg" alt="Arrow Down">
      </label>

      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img checkbox" src="assets/icon-sunny.svg" alt="Arrow Down">
      </label>

      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img checkbox" src="assets/icon-cloudy.svg" alt="Arrow Down">
      </label>

      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img checkbox" src="assets/icon-snowy.svg" alt="Arrow Down">
      </label>

      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img checkbox" src="assets/icon-stormy.svg" alt="Arrow Down">
      </label>

      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img checkbox" src="assets/icon-blizzard.svg" alt="Arrow Up">
      </label>

      <label class="relative">
        <input class="absolute hidden" type="checkbox" name="arrow">
        <img class="btn img" src="assets/icon-metorite.svg" alt="Arrow Down">
      </label>

    </div>
  </div>
</div>
